/* Navbar */
#navbar .logo {
  float: none;
  text-align: center;
}
#navbar ul,
#navbar ul li {
  float: none;
}

#navbar ul li a {
  border-bottom: #444 dotted 1px;
  padding: 5px;
}

/* showcase */
#showcase {
  height: 100%;
}
#showcase .showcase-content {
  padding-top: 70px;
  padding-bottom: 30px;
}
/* Home info */
#home-info {
  height: 550px;
  /* iphone k mất nút read more */
}
#home-info .info-img {
  display: none;
}
#home-info .info-content {
  float: none;
  width: 100%;
}

/* feature BOX */
.box {
  float: none;
  width: 100%;
}

/* about */
#about-info .info-left,
#about-info .info-right {
  float: none;
  width: 100%;
}
#about-info .info-left {
  margin-bottom: 30px;
}

/* contact */
#contact-info .box {
  border-bottom: #444 dotted 1px;
}
